@page "/rigs"
@using BlazorFluentUI
@using Emmock.Core.Models

<h1>Rigs</h1>

@if (RigsViewModel == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<ActionButton IconName="Add" Href="/createrig">
		New
	</ActionButton>

	<DatePicker AllowTextInput="false"
				Style="max-width:300px; margin:0 0 15px 0;"
				Placeholder="Select a date..."
				@bind-Value=@selectedDate1
				FirstDayOfWeek=@DayOfWeek.Sunday />

	if (RigsViewModel.Rigs.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Description</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var rig in RigsViewModel.Rigs)
				{
					<tr @onclick="@(() => ViewRig(rig))">
						<td>@rig.Id</td>
						<td>@rig.Description</td>
						<td>@rig.Type</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>No rigs currently stored in the system.</p>
	}
}

@code {
	DateTime? selectedDate1;
} 
